<!-- start: page -->
<style>
    .select2-container .select2-selection--single .select2-selection__clear {
        position: relative;
        display: none;
    }
</style>
<% if Dashboard.check_permission(@sub_module_name, current_user, "create") %>
  <div class="row">
    <div class="col-lg-12">
      <a class="mb-1 mt-1 me-1 btn btn-primary" data-bs-toggle="modal" data-bs-target="#modalBootstrap" href="#"><span class="bx bx-plus"></span> Role</a>
      <a class="mb-1 mt-1 me-1 btn btn-tertiary" data-bs-toggle="modal" data-bs-target="#modalBootstrapfilter" href="#"><span class="bx bx-search"></span> Filter</a>
      <!-- Create Modal -->
      <%= form_with url: new_role_path, method: :post, id: 'myForm', multipart: true do |form| %>
        <div class="modal fade" id="modalBootstrap" tabindex="-1" role="dialog">
          <div class="modal-dialog modal-lgg" role="document">
            <div class="modal-content">
              <div class="modal-header bg-primary">
                <h5 class="modal-title">Create New <b><%= @sub_module_name.capitalize %>/Permissions</b></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <div class="row p-2">
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label class="col-form-label" for="formGroupExampleInput">Role Name <span style="color: red">*</span></label>
                      <input required type="text" name="name" class="form-control" id="formGroupExampleInput" placeholder="Enter Role Name">
                    </div>
                  </div>
                  <div class="col-lg-4">
                    <div class="form-group">
                      <label class="col-form-label" for="formGroupExampleInput">Is Active? <span style="color: red">*</span></label><br>
                      <div class="switch switch-success">
                        <input required type="checkbox" name="is_active" data-plugin-ios-switch checked="checked" />
                      </div>
                    </div>
                  </div>
                </div>
                <hr>
                <div class="row p-2">
                  <div class="col-12">
                    <h4 class="font-weight-bold text-dark">Permissions</h4>
                  </div>
                  <% Menu.where(:menu_type => "main_menu").uniq.compact.each do |menu| %>
                    <input hidden type="text" name="menu_id[]" value="<%= menu.id %>">
                    <div class="col-lg-12 col-xl-12">
                      <div class="toggle toggle-tertiary" data-plugin-toggle>
                        <section class="toggle">
                          <label><%= menu.name.upcase %> </label>
                          <div class="toggle-content">
                            <div class="row">
                              <div class="col-lg-12">
                                <table class="table table-responsive-md table-bordered mb-0">
                                  <thead>
                                  <tr>
                                    <th>Menu Name</th>
                                    <th>Is Index?</th>
                                    <th>Is Create?</th>
                                    <th>Is View?</th>
                                    <th>Is Edit?</th>
                                    <th>Is Delete?</th>
                                  </tr>
                                  </thead>
                                  <tbody>
                                  <% sub_menus = Menu.where(:main_menu_id => menu.id) %>
                                  <tr>
                                    <td><%= menu.name.capitalize %></td>
                                    <td>
                                      <div class="col-lg-12">
                                        <div class="form-group">
                                          <select required data-plugin-selectTwo class="form-control populate placeholder" data-plugin-options='{ "placeholder": "Select", "allowClear": true }' name="is_index[]">
                                            <option value="on">Yes</option>
                                            <option value="off" selected>No</option>
                                          </select>
                                        </div>
                                      </div>
                                    </td>
                                    <td>
                                      <div class="col-lg-12">
                                        <div class="form-group">
                                          <select required data-plugin-selectTwo class="form-control populate placeholder" data-plugin-options='{ "placeholder": "Select", "allowClear": true }' name="is_create[]">
                                            <option value="off" selected>No</option>
                                          </select>
                                        </div>
                                      </div>
                                    </td>
                                    <td>
                                      <div class="col-lg-12">
                                        <div class="form-group">
                                          <select required data-plugin-selectTwo class="form-control populate placeholder" data-plugin-options='{ "placeholder": "Select", "allowClear": true }' name="is_view[]">
                                            <option value="off" selected>No</option>
                                          </select>
                                        </div>
                                      </div>
                                    </td>
                                    <td>
                                      <div class="col-lg-12">
                                        <div class="form-group">
                                          <select required data-plugin-selectTwo class="form-control populate placeholder" data-plugin-options='{ "placeholder": "Select", "allowClear": true }' name="is_edit[]">
                                            <option value="off" selected>No</option>
                                          </select>
                                        </div>
                                      </div>
                                    </td>
                                    <td>
                                      <div class="col-lg-12">
                                        <div class="form-group">
                                          <select required data-plugin-selectTwo class="form-control populate placeholder" data-plugin-options='{ "placeholder": "Select", "allowClear": true }' name="is_delete[]">
                                            <option value="off" selected>No</option>
                                          </select>
                                        </div>
                                      </div>
                                    </td>
                                  </tr>
                                  <% if sub_menus.present? %>
                                    <% sub_menus.each do |sub_menu| %>
                                      <input hidden type="text" name="menu_id[]" value="<%= sub_menu.id %>">
                                      <tr>
                                        <td><%= sub_menu.name.capitalize %></td>
                                        <td>
                                          <div class="col-lg-12">
                                            <div class="form-group">
                                              <select required data-plugin-selectTwo class="form-control populate placeholder" data-plugin-options='{ "placeholder": "Select", "allowClear": true }' name="is_index[]">
                                                <option value="on">Yes</option>
                                                <option value="off" selected>No</option>
                                              </select>
                                            </div>
                                          </div>
                                        </td>
                                        <td>
                                          <div class="col-lg-12">
                                            <div class="form-group">
                                              <select required data-plugin-selectTwo class="form-control populate placeholder" data-plugin-options='{ "placeholder": "Select", "allowClear": true }' name="is_create[]">
                                                <option value="on">Yes</option>
                                                <option value="off" selected>No</option>
                                              </select>
                                            </div>
                                          </div>
                                        </td>
                                        <td>
                                          <div class="col-lg-12">
                                            <div class="form-group">
                                              <select required data-plugin-selectTwo class="form-control populate placeholder" data-plugin-options='{ "placeholder": "Select", "allowClear": true }' name="is_view[]">
                                                <option value="on">Yes</option>
                                                <option value="off" selected>No</option>
                                              </select>
                                            </div>
                                          </div>
                                        </td>
                                        <td>
                                          <div class="col-lg-12">
                                            <div class="form-group">
                                              <select required data-plugin-selectTwo class="form-control populate placeholder" data-plugin-options='{ "placeholder": "Select", "allowClear": true }' name="is_edit[]">
                                                <option value="on">Yes</option>
                                                <option value="off" selected>No</option>
                                              </select>
                                            </div>
                                          </div>
                                        </td>
                                        <td>
                                          <div class="col-lg-12">
                                            <div class="form-group">
                                              <select required data-plugin-selectTwo class="form-control populate placeholder" data-plugin-options='{ "placeholder": "Select", "allowClear": true }' name="is_delete[]">
                                                <option value="on">Yes</option>
                                                <option value="off" selected>No</option>
                                              </select>
                                            </div>
                                          </div>
                                        </td>
                                      </tr>
                                    <% end %>
                                  <% end %>
                                  </tbody>
                                </table>
                              </div>
                            </div>
                          </div>
                        </section>
                      </div>
                    </div>
                  <% end %>
                </div>
              </div>
              <div class="modal-footer">
                <button type="submit" class="btn btn-primary">Create</button>
                <button type="button" class="btn btn-default" data-bs-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
      <% end %>
      <!-- Filter Modal -->
      <%= form_with url: filter_role_path, method: :post, id: 'myForm', multipart: true do |form| %>
        <div class="modal fade" id="modalBootstrapfilter" tabindex="-1" role="dialog">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header bg-tertiary">
                <h5 class="modal-title">Filter <b><%= @sub_module_name.capitalize %></b></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <div class="row">
                  <div class="row form-group pb-3">
                    <div class="col-lg-6">
                      <div class="form-group">
                        <label class="col-form-label" for="formGroupExampleInput">Is Active? </label><br>
                        <div class="switch switch-success">
                          <input type="checkbox" name="is_active" data-plugin-ios-switch checked="checked" />
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="modal-footer">
                <button type="submit" class="btn btn-primary">Search</button>
                <button type="button" class="btn btn-default" data-bs-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
<% end %>

<% if Dashboard.check_permission(@sub_module_name, current_user, "view") %>
  <div class="row">
    <div class="col-lg-12">
      <section class="card">
        <header class="card-header">
          <div class="card-actions">
            <a href="#" class="card-action card-action-toggle" data-card-toggle></a>
            <!--          <a href="#" class="card-action card-action-dismiss" data-card-dismiss></a>-->
          </div>
          <h2 class="card-title"><%= @sub_module_name.capitalize %>/Permissions Detail</h2>
        </header>
        <div class="card-body">
          <!-- Modal Bootstrap -->
          <div class="row p-2">
            <div class="col-lg-12">
              <table class="table table-bordered table-striped mb-0" id="datatable-tabletools">
                <thead>
                <tr>
                  <th>Sr #</th>
                  <th>Role Name</th>
                  <th>Assign Count</th>
                  <th>Is Active?</th>
                  <th>Action</th>
                </tr>
                </thead>
                <tbody>
                <% count = 1 %>
                <% @roles.order("id DESC").each do |role| %>
                  <tr>
                    <td><%= count %></td>
                    <td><%= role.name.capitalize %></td>
                    <td><%= role.users.count %></td>
                    <td>
                      <% if role.is_active == true %>
                        <span class="badge badge-success">Active</span>
                      <% else %>
                        <span class="badge badge-danger">In Active</span>
                      <% end %>
                    </td>
                    <td>
                      <!-- Edit Button -->
                      <% if Dashboard.check_permission(@sub_module_name, current_user, "edit") %>
                        <button type="button" class="btn btn-outline-dark border-2 rounded-circle" data-bs-toggle="modal" data-bs-target="#modalBootstrapedit<%= role.id %>"><span class="bx bx-edit"></span></button>
                        <div class="modal fade" id="modalBootstrapedit<%= role.id %>" tabindex="-1" role="dialog">
                          <div class="modal-dialog modal-lgg" role="document">
                            <%= form_with url: update_role_path, method: :post, id: 'myForm', multipart: true do |form| %>
                              <div class="modal-content">
                                <div class="modal-header">
                                  <h5 class="modal-title">Update <b><%= @sub_module_name.capitalize %>/Permissions</b></h5>
                                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                  <input hidden type="text" name="role_id" value="<%= role.id %>">
                                  <div class="row p-2">
                                    <div class="col-lg-6">
                                      <div class="form-group">
                                        <label class="col-form-label" for="formGroupExampleInput">Role Name <span style="color: red">*</span></label>
                                        <input required type="text" class="form-control" id="formGroupExampleInput" value="<%= role.name %>" name="name">
                                      </div>
                                    </div>
                                    <div class="col-lg-4">
                                      <div class="form-group">
                                        <label class="col-form-label" for="formGroupExampleInput">Is Active? <span style="color: red">*</span></label><br>
                                        <div class="switch switch-success">
                                          <% if role.is_active == true %>
                                            <input type="checkbox" name="is_active" data-plugin-ios-switch checked="checked" />
                                          <% else %>
                                            <input type="checkbox" name="is_active" data-plugin-ios-switch />
                                          <% end %>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                  <hr>
                                  <div class="row p-2">
                                    <div class="col-12">
                                      <h4 class="font-weight-bold text-dark">Permissions</h4>
                                    </div>
                                    <% Menu.where(:menu_type => "main_menu").uniq.compact.each do |menu| %>
                                      <% permission = menu.permissions.where(:role_id => role.id).last %>
                                      <input hidden type="text" name="permission_ids[]" value="<%= permission.id %>">
                                      <div class="col-lg-12 col-xl-12">
                                        <div class="toggle toggle-tertiary" data-plugin-toggle>
                                          <section class="toggle">
                                            <label><%= menu.name.upcase %></label>
                                            <div class="toggle-content">
                                              <div class="row">
                                                <div class="col-lg-12">
                                                  <table class="table table-responsive-md table-bordered mb-0">
                                                    <thead>
                                                    <tr>
                                                      <th>Menu Name</th>
                                                      <th>Is Index?</th>
                                                      <th>Is Create?</th>
                                                      <th>Is View?</th>
                                                      <th>Is Edit?</th>
                                                      <th>Is Delete?</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    <tr>
                                                      <td><%= menu.name.capitalize %></td>
                                                      <td>
                                                        <div class="col-lg-12">
                                                          <div class="form-group">
                                                            <select data-plugin-selectTwo class="form-control populate placeholder" data-plugin-options='{ "placeholder": "Select", "allowClear": true }' name="is_index[]">
                                                              <% if permission.is_index == true %>
                                                                <option value="on" selected>Yes</option>
                                                                <option value="off">No</option>
                                                              <% else %>
                                                                <option value="off" selected>No</option>
                                                                <option value="on">Yes</option>
                                                              <% end %>
                                                            </select>
                                                          </div>
                                                        </div>
                                                      </td>
                                                      <td>
                                                        <div class="col-lg-12">
                                                          <div class="form-group">
                                                            <select data-plugin-selectTwo class="form-control populate placeholder" data-plugin-options='{ "placeholder": "Select", "allowClear": true }' name="is_create[]">
                                                              <option value="off" selected>No</option>
                                                            </select>
                                                          </div>
                                                        </div>
                                                      </td>
                                                      <td>
                                                        <div class="col-lg-12">
                                                          <div class="form-group">
                                                            <select data-plugin-selectTwo class="form-control populate placeholder" data-plugin-options='{ "placeholder": "Select", "allowClear": true }' name="is_view[]">
                                                              <option value="off" selected>No</option>
                                                            </select>
                                                          </div>
                                                        </div>
                                                      </td>
                                                      <td>
                                                        <div class="col-lg-12">
                                                          <div class="form-group">
                                                            <select data-plugin-selectTwo class="form-control populate placeholder" data-plugin-options='{ "placeholder": "Select", "allowClear": true }' name="is_edit[]">
                                                              <option value="off" selected>No</option>
                                                            </select>
                                                          </div>
                                                        </div>
                                                      </td>
                                                      <td>
                                                        <div class="col-lg-12">
                                                          <div class="form-group">
                                                            <select data-plugin-selectTwo class="form-control populate placeholder" data-plugin-options='{ "placeholder": "Select", "allowClear": true }' name="is_delete[]">
                                                              <option value="off" selected>No</option>
                                                            </select>
                                                          </div>
                                                        </div>
                                                      </td>
                                                    </tr>
                                                    <% sub_menus = Menu.where(:main_menu_id => menu.id) %>
                                                    <% if sub_menus.present? %>
                                                      <% sub_menus.each do |sub_menu| %>
                                                        <% permission = sub_menu.permissions.where(:role_id => role.id).last %>
                                                        <input hidden type="text" name="permission_ids[]" value="<%= permission.id %>">
                                                        <tr>
                                                          <td><%= sub_menu.name.capitalize %></td>
                                                          <td>
                                                            <div class="col-lg-12">
                                                              <div class="form-group">
                                                                <select data-plugin-selectTwo class="form-control populate placeholder" data-plugin-options='{ "placeholder": "Select", "allowClear": true }' name="is_index[]">
                                                                  <% if permission.is_index == true %>
                                                                    <option value="on" selected>Yes</option>
                                                                    <option value="off">No</option>
                                                                  <% else %>
                                                                    <option value="off" selected>No</option>
                                                                    <option value="on">Yes</option>
                                                                  <% end %>
                                                                </select>
                                                              </div>
                                                            </div>
                                                          </td>
                                                          <td>
                                                            <div class="col-lg-12">
                                                              <div class="form-group">
                                                                <select data-plugin-selectTwo class="form-control populate placeholder" data-plugin-options='{ "placeholder": "Select", "allowClear": true }' name="is_create[]">
                                                                  <% if permission.is_create == true %>
                                                                    <option value="on" selected>Yes</option>
                                                                    <option value="off">No</option>
                                                                  <% else %>
                                                                    <option value="off" selected>No</option>
                                                                    <option value="on">Yes</option>
                                                                  <% end %>
                                                                </select>
                                                              </div>
                                                            </div>
                                                          </td>
                                                          <td>
                                                            <div class="col-lg-12">
                                                              <div class="form-group">
                                                                <select data-plugin-selectTwo class="form-control populate placeholder" data-plugin-options='{ "placeholder": "Select", "allowClear": true }' name="is_view[]">
                                                                  <% if permission.is_view == true %>
                                                                    <option value="on" selected>Yes</option>
                                                                    <option value="off">No</option>
                                                                  <% else %>
                                                                    <option value="off" selected>No</option>
                                                                    <option value="on">Yes</option>
                                                                  <% end %>
                                                                </select>
                                                              </div>
                                                            </div>
                                                          </td>
                                                          <td>
                                                            <div class="col-lg-12">
                                                              <div class="form-group">
                                                                <select data-plugin-selectTwo class="form-control populate placeholder" data-plugin-options='{ "placeholder": "Select", "allowClear": true }' name="is_edit[]">
                                                                  <% if permission.is_edit == true %>
                                                                    <option value="on" selected>Yes</option>
                                                                    <option value="off">No</option>
                                                                  <% else %>
                                                                    <option value="off" selected>No</option>
                                                                    <option value="on">Yes</option>
                                                                  <% end %>
                                                                </select>
                                                              </div>
                                                            </div>
                                                          </td>
                                                          <td>
                                                            <div class="col-lg-12">
                                                              <div class="form-group">
                                                                <select data-plugin-selectTwo class="form-control populate placeholder" data-plugin-options='{ "placeholder": "Select", "allowClear": true }' name="is_delete[]">
                                                                  <% if permission.is_delete == true %>
                                                                    <option value="on" selected>Yes</option>
                                                                    <option value="off">No</option>
                                                                  <% else %>
                                                                    <option value="off" selected>No</option>
                                                                    <option value="on">Yes</option>
                                                                  <% end %>
                                                                </select>
                                                              </div>
                                                            </div>
                                                          </td>
                                                        </tr>
                                                      <% end %>
                                                    <% end %>
                                                    </tbody>
                                                  </table>
                                                </div>
                                              </div>
                                            </div>
                                          </section>
                                        </div>
                                      </div>
                                    <% end %>
                                  </div>
                                </div>
                                <div class="modal-footer">
                                  <button type="submit" class="btn btn-primary float-end">Update</button>
                                  <button type="button" class="btn btn-default" data-bs-dismiss="modal">Close</button>
                                </div>
                              </div>
                            <% end %>
                          </div>
                        </div>
                      <% end %>
                      <!-- View Button -->
                      <% if Dashboard.check_permission(@sub_module_name, current_user, "view") %>
                        <button type="button" class="btn btn-outline-success border-2 rounded-circle" data-bs-toggle="modal" data-bs-target="#modalBootstrapview<%= role.id %>"><span class="bx bx-low-vision"></span></button>
                        <div class="modal fade" id="modalBootstrapview<%= role.id %>" tabindex="-1" role="dialog">
                          <div class="modal-dialog modal-lgg" role="document">
                            <div class="modal-content">
                              <div class="modal-header bg-success">
                                <h5 class="modal-title">View <b><%= @sub_module_name.capitalize %>/Permissions</b></h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                              </div>
                              <div class="modal-body">
                                <div class="row p-2">
                                  <div class="col-lg-6">
                                    <div class="form-group">
                                      <label class="col-form-label" for="formGroupExampleInput">Role Name <span style="color: red">*</span></label>
                                      <input disabled type="text" class="form-control" id="formGroupExampleInput" value="<%= role.name.capitalize %>" >
                                    </div>
                                  </div>
                                  <div class="col-lg-4">
                                    <div class="form-group">
                                      <label class="col-form-label" for="formGroupExampleInput">Is Active? <span style="color: red">*</span></label><br>
                                      <% if role.is_active == true %>
                                        <span class="badge-success badge">Active</span>
                                      <% else %>
                                        <span class="badge-danger badge">In-Active</span>
                                      <% end %>
                                    </div>
                                  </div>
                                </div>
                                <hr>
                                <div class="row p-2">
                                  <div class="col-12">
                                    <h4 class="font-weight-bold text-dark">Permissions</h4>
                                  </div>
                                  <% Menu.where(:menu_type => "main_menu").uniq.compact.each do |menu| %>
                                    <% permission = menu.permissions.where(:role_id => role.id).last %>
                                    <div class="col-lg-12 col-xl-12">
                                      <div class="toggle toggle-tertiary" data-plugin-toggle>
                                        <section class="toggle">
                                          <label><%= menu.name.upcase %></label>
                                          <div class="toggle-content">
                                            <div class="row">
                                              <div class="col-lg-12">
                                                <table class="table table-responsive-md table-bordered mb-0">
                                                  <thead>
                                                  <tr>
                                                    <th>Menu Name</th>
                                                    <th>Is Index?</th>
                                                    <th>Is Create?</th>
                                                    <th>Is View?</th>
                                                    <th>Is Edit?</th>
                                                    <th>Is Delete?</th>
                                                  </tr>
                                                  </thead>
                                                  <tbody>
                                                  <tr>
                                                    <td><%= menu.name.capitalize %></td>
                                                    <td>
                                                      <div class="col-lg-12">
                                                        <div class="form-group">
                                                          <select disabled data-plugin-selectTwo class="form-control populate placeholder" data-plugin-options='{ "placeholder": "Select", "allowClear": true }'>
                                                            <% if permission.is_index == true %>
                                                              <option value="on" selected>Yes</option>
                                                              <option value="off">No</option>
                                                            <% else %>
                                                              <option value="off" selected>No</option>
                                                              <option value="on">Yes</option>
                                                            <% end %>
                                                          </select>
                                                        </div>
                                                      </div>
                                                    </td>
                                                    <td>
                                                      <div class="col-lg-12">
                                                        <div class="form-group">
                                                          <select disabled data-plugin-selectTwo class="form-control populate placeholder" data-plugin-options='{ "placeholder": "Select", "allowClear": true }'>
                                                            <option value="off" selected>No</option>
                                                          </select>
                                                        </div>
                                                      </div>
                                                    </td>
                                                    <td>
                                                      <div class="col-lg-12">
                                                        <div class="form-group">
                                                          <select disabled data-plugin-selectTwo class="form-control populate placeholder" data-plugin-options='{ "placeholder": "Select", "allowClear": true }'>
                                                            <option value="off" selected>No</option>
                                                          </select>
                                                        </div>
                                                      </div>
                                                    </td>
                                                    <td>
                                                      <div class="col-lg-12">
                                                        <div class="form-group">
                                                          <select disabled data-plugin-selectTwo class="form-control populate placeholder" data-plugin-options='{ "placeholder": "Select", "allowClear": true }'>
                                                            <option value="off" selected>No</option>
                                                          </select>
                                                        </div>
                                                      </div>
                                                    </td>
                                                    <td>
                                                      <div class="col-lg-12">
                                                        <div class="form-group">
                                                          <select disabled data-plugin-selectTwo class="form-control populate placeholder" data-plugin-options='{ "placeholder": "Select", "allowClear": true }'>
                                                            <option value="off" selected>No</option>
                                                          </select>
                                                        </div>
                                                      </div>
                                                    </td>
                                                  </tr>
                                                  <% sub_menus = Menu.where(:main_menu_id => menu.id) %>
                                                  <% if sub_menus.present? %>
                                                    <% sub_menus.each do |sub_menu| %>
                                                      <% permission = sub_menu.permissions.where(:role_id => role.id).last %>
                                                      <input hidden type="text" name="permission_ids[]" value="<%= permission.id %>">
                                                      <tr>
                                                        <td><%= sub_menu.name.capitalize %></td>
                                                        <td>
                                                          <div class="col-lg-12">
                                                            <div class="form-group">
                                                              <select disabled data-plugin-selectTwo class="form-control populate placeholder" data-plugin-options='{ "placeholder": "Select", "allowClear": true }'>
                                                                <% if permission.is_index == true %>
                                                                  <option value="on" selected>Yes</option>
                                                                  <option value="off">No</option>
                                                                <% else %>
                                                                  <option value="off" selected>No</option>
                                                                  <option value="on">Yes</option>
                                                                <% end %>
                                                              </select>
                                                            </div>
                                                          </div>
                                                        </td>
                                                        <td>
                                                          <div class="col-lg-12">
                                                            <div class="form-group">
                                                              <select disabled data-plugin-selectTwo class="form-control populate placeholder" data-plugin-options='{ "placeholder": "Select", "allowClear": true }'>
                                                                <% if permission.is_create == true %>
                                                                  <option value="on" selected>Yes</option>
                                                                  <option value="off">No</option>
                                                                <% else %>
                                                                  <option value="off" selected>No</option>
                                                                  <option value="on">Yes</option>
                                                                <% end %>
                                                              </select>
                                                            </div>
                                                          </div>
                                                        </td>
                                                        <td>
                                                          <div class="col-lg-12">
                                                            <div class="form-group">
                                                              <select disabled data-plugin-selectTwo class="form-control populate placeholder" data-plugin-options='{ "placeholder": "Select", "allowClear": true }'>
                                                                <% if permission.is_view == true %>
                                                                  <option value="on" selected>Yes</option>
                                                                  <option value="off">No</option>
                                                                <% else %>
                                                                  <option value="off" selected>No</option>
                                                                  <option value="on">Yes</option>
                                                                <% end %>
                                                              </select>
                                                            </div>
                                                          </div>
                                                        </td>
                                                        <td>
                                                          <div class="col-lg-12">
                                                            <div class="form-group">
                                                              <select disabled data-plugin-selectTwo class="form-control populate placeholder" data-plugin-options='{ "placeholder": "Select", "allowClear": true }'>
                                                                <% if permission.is_edit == true %>
                                                                  <option value="on" selected>Yes</option>
                                                                  <option value="off">No</option>
                                                                <% else %>
                                                                  <option value="off" selected>No</option>
                                                                  <option value="on">Yes</option>
                                                                <% end %>
                                                              </select>
                                                            </div>
                                                          </div>
                                                        </td>
                                                        <td>
                                                          <div class="col-lg-12">
                                                            <div class="form-group">
                                                              <select disabled data-plugin-selectTwo class="form-control populate placeholder" data-plugin-options='{ "placeholder": "Select", "allowClear": true }'>
                                                                <% if permission.is_delete == true %>
                                                                  <option value="on" selected>Yes</option>
                                                                  <option value="off">No</option>
                                                                <% else %>
                                                                  <option value="off" selected>No</option>
                                                                  <option value="on">Yes</option>
                                                                <% end %>
                                                              </select>
                                                            </div>
                                                          </div>
                                                        </td>
                                                      </tr>
                                                    <% end %>
                                                  <% end %>
                                                  </tbody>
                                                </table>
                                              </div>
                                            </div>
                                          </div>
                                        </section>
                                      </div>
                                    </div>
                                  <% end %>
                                </div>
                              </div>
                              <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-bs-dismiss="modal">Close</button>
                              </div>
                            </div>
                          </div>
                        </div>
                      <% end %>
                      <!-- Delete Button -->
                      <% if Dashboard.check_permission(@sub_module_name, current_user, "delete") %>
                        <button type="button" class="btn btn-outline-danger border-2 rounded-circle" data-bs-toggle="modal" data-bs-target="#modalBootstrapdelete<%= role.id %>"><span class="bx bx-trash"></span></button>
                        <div class="modal fade" id="modalBootstrapdelete<%= role.id %>" tabindex="-1" role="dialog">
                          <div class="modal-dialog" role="document">
                            <%= form_with url: delete_role_path, method: :post, id: 'myForm', multipart: true do |form| %>
                              <div class="modal-content">
                                <div class="modal-header bg-danger">
                                  <h5 class="modal-title"><b>Are You Sure You Want To Delete <%= @sub_module_name.capitalize %>/Permissions</b>???</h5>
                                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                  <input hidden type="text" name="id" value="<%= role.id %>">
                                  <div class="row">
                                    <div class="col-lg-2"></div>
                                    <div class="col-lg-4">
                                      <button type="submit" class="btn btn-success float-start">Yes</button>
                                    </div>
                                    <div class="col-lg-4">
                                      <button type="button" class="btn btn-warning float-end" data-bs-dismiss="modal">No</button>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            <% end %>
                          </div>
                        </div>
                      <% end %>
                    </td>
                  </tr>
                  <% count += 1 %>
                <% end %>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
<% end %>
<!-- end: page -->

