<!-- start: page -->
<% if Dashboard.check_permission(@sub_module_name, current_user, "create") %>
  <div class="row">
    <div class="col-lg-12">
      <a class="mb-1 mt-1 me-1 btn btn-primary" data-bs-toggle="modal" data-bs-target="#modalBootstrap" href="#"><span class="bx bx-plus"></span> Attendance</a>
      <a class="mb-1 mt-1 me-1 btn btn-tertiary" data-bs-toggle="modal" data-bs-target="#modalBootstrapfilter" href="#"><span class="bx bx-search"></span> Filter</a>
      <!-- Create Modal -->
      <%= form_with url: new_attendance_path, method: :post, multipart: true do |form| %>
        <div class="modal fade" id="modalBootstrap" tabindex="-1" role="dialog">
          <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
              <div class="modal-header bg-primary">
                <h5 class="modal-title">Create New <b><%= @sub_module_name.capitalize %></b></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <div class="row">
                  <div class="row form-group pb-3">


                    <div class="col-lg-6">
                      <div class="form-group">
                        <label class="col-form-label">Attendance Type</label>
                        <select class="form-control sumoselect2" name="attendance_type" required>
                          <option disabled selected value="">Select Type</option>
                            <option value="Morning">Morning</option>
                            <option value="Lunch">Lunch</option>
                            <option value="Tea">Tea</option>
                            <option value="Bed">Bed</option>
                        </select>
                      </div>
                    </div>

                    <div class="col-lg-6">
                      <div class="form-group">
                        <label class="col-form-label">Employee</label>
                        <select class="form-control sumoselect2" name="employee_id" required>
                          <option disabled selected value="">Select Employee</option>
                          <% Employee.where(is_active: true).each do |e| %>
                            <option value="<%= e.id %>"> <%= e.employee_name.upcase %></option>
                          <% end %>
                        </select>
                      </div>
                    </div>

                    <div class="col-lg-6">
                      <div class="form-group">
                        <label class="col-form-label" for="timeInput">Start Time:</label>
                        <input type="time" class="form-control" id="timeInput" name="start_time">
                      </div>
                    </div>

                    <div class="col-lg-6">
                      <div class="form-group">
                        <label class="col-form-label" for="timeInput">End Time:</label>
                        <input type="time" class="form-control" id="timeInput" name="end_time">
                      </div>
                    </div>

                    <div class="col-lg-6">
                      <div class="form-group">
                        <label class="col-form-label">Date <span style="color: red">*</span></label>
                        <input  type="date" name="date" class="form-control" placeholder="Enter Date">
                      </div>
                    </div>


                  </div>
                </div>
              </div>
              <div class="modal-footer">
                <button type="submit" class="btn btn-primary">Create</button>
                <button type="button" class="btn btn-default" data-bs-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
      <% end %>
      <!-- Filter Modal -->
      <%= form_with url: filter_attendance_path, method: :post, multipart: true do |form| %>
        <div class="modal fade" id="modalBootstrapfilter" tabindex="-1" role="dialog">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header bg-tertiary">
                <h5 class="modal-title">Filter <b><%= @sub_module_name.capitalize %></b></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <div class="row">
                  <div class="row form-group pb-3">
                    <div class="col-lg-6">
                      <div class="form-group">
                        <label class="col-form-label">Is Active? </label><br>
                        <div class="switch switch-success">
                          <input type="checkbox" name="is_active" data-plugin-ios-switch checked="checked" />
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="modal-footer">
                <button type="submit" class="btn btn-primary">Search</button>
                <button type="button" class="btn btn-default" data-bs-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
<% end %>

<% if Dashboard.check_permission(@sub_module_name, current_user, "view") %>
  <div class="row">
    <div class="col-lg-12">
      <section class="card">
        <header class="card-header">
          <div class="card-actions">
            <a href="#" class="card-action card-action-toggle" data-card-toggle></a>
          </div>
          <h2 class="card-title"><%= @sub_module_name.capitalize %> Detail</h2>
        </header>
        <div class="card-body">
          <!-- Modal Bootstrap -->
          <div class="row p-2">
            <div class="col-lg-12">
              <table class="table table-bordered table-striped mb-0" id="datatable-tabletools">
                <thead>
                <tr>
                  <th>Sr #</th>
                  <th>Attendance Type</th>
                  <th>Employee</th>
                  <th>Start Time</th>
                  <th>End Time</th>
                  <th>Date</th>
                  <th>Total Count</th>
                  <th>Action</th>
                </tr>
                </thead>
                <tbody>
                <% if @attendance.present? %>
                  <% count = 1 %>
                  <% @attendance.order("id DESC").each do |attendance| %>
                    <tr>
                      <td><%= count %></td>
                      <td><%= attendance.attendance_type.capitalize %></td>
                      <td><%= attendance.employee.employee_name %></td>
                      <td><%= attendance.start_time.strftime('%I:%M:%S %p') %></td>
                      <td><%= attendance.end_time.strftime('%I:%M:%S %p') %></td>
                      <td><%= attendance.date.to_date %></td>
                      <td><%= ((attendance.end_time - attendance.start_time) / 60).to_i %> minutes</td>
                      <td>
                        <!-- Edit Button -->
                        <% if Dashboard.check_permission(@sub_module_name, current_user, "edit") %>
                          <button type="button" class="btn btn-outline-dark border-2 rounded-circle" data-bs-toggle="modal" data-bs-target="#modalBootstrapedit<%= attendance.id %>"><span class="bx bx-edit"></span></button>
                          <div class="modal fade" id="modalBootstrapedit<%= attendance.id %>" tabindex="-1" role="dialog">
                            <div class="modal-dialog modal-lg" role="document">
                              <%= form_with url: update_attendance_path, method: :post, id: 'myForm', multipart: true do |form| %>
                                <div class="modal-content">
                                  <div class="modal-header">
                                    <h5 class="modal-title">Update <b><%= @sub_module_name.capitalize %></b></h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                  </div>
                                  <div class="modal-body">
                                    <input hidden type="text" name="id" value="<%= attendance.id %>">
                                    <div class="row">
                                      <div class="row form-group pb-3">
                                        <div class="col-lg-6">
                                          <div class="form-group">
                                            <label class="col-form-label">Attendance Type <span style="color: red">*</span></label>
                                            <input required type="text" name="name" class="form-control" value="<%= attendance.attendance_type %>">
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="modal-footer">
                                    <button type="submit" class="btn btn-primary float-end">Update</button>
                                    <button type="button" class="btn btn-default" data-bs-dismiss="modal">Close</button>
                                  </div>
                                </div>
                              <% end %>
                            </div>
                          </div>
                        <% end %>
                        <!-- View Button -->
                        <% if Dashboard.check_permission(@sub_module_name, current_user, "view") %>
                          <button type="button" class="btn btn-outline-success border-2 rounded-circle" data-bs-toggle="modal" data-bs-target="#modalBootstrapview<%= attendance.id %>"><span class="bx bx-show"></span></button>
                          <div class="modal fade" id="modalBootstrapview<%= attendance.id %>" tabindex="-1" role="dialog">
                            <div class="modal-dialog modal-lg" role="document">
                              <div class="modal-content">
                                <div class="modal-header bg-success">
                                  <h5 class="modal-title">View <b><%= @sub_module_name.capitalize %></b></h5>
                                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                  <div class="row">
                                    <div class="row form-group pb-3">
                                      <div class="col-lg-6">
                                        <div class="form-group">
                                          <label class="col-form-label">Attendance Type <span style="color: red">*</span></label>
                                          <input disabled type="text" class="form-control" value="<%= attendance.attendance_type.capitalize %>">
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                                <div class="modal-footer">
                                  <button type="button" class="btn btn-default" data-bs-dismiss="modal">Close</button>
                                </div>
                              </div>
                            </div>
                          </div>
                        <% end %>
                        <!-- Delete Button -->
                        <% if Dashboard.check_permission(@sub_module_name, current_user, "delete") %>
                          <button type="button" class="btn btn-outline-danger border-2 rounded-circle" data-bs-toggle="modal" data-bs-target="#modalBootstrapdelete<%= attendance.id %>"><span class="bx bx-trash"></span></button>
                          <div class="modal fade" id="modalBootstrapdelete<%= attendance.id %>" tabindex="-1" role="dialog">
                            <div class="modal-dialog" role="document">
                              <%= form_with url: delete_attendance_path, method: :post, multipart: true do |form| %>
                                <div class="modal-content">
                                  <div class="modal-header bg-danger">
                                    <h5 class="modal-title"><b>Are You Sure You Want To Delete <%= @sub_module_name.capitalize %></b>???</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                  </div>
                                  <div class="modal-body">
                                    <input hidden type="text" name="id" value="<%= attendance.id %>">
                                    <div class="row">
                                      <div class="col-lg-2"></div>
                                      <div class="col-lg-4">
                                        <button type="submit" class="btn btn-success float-start">Yes</button>
                                      </div>
                                      <div class="col-lg-4">
                                        <button type="button" class="btn btn-warning float-end" data-bs-dismiss="modal">No</button>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              <% end %>
                            </div>
                          </div>
                        <% end %>
                      </td>
                    </tr>
                    <% count += 1 %>
                  <% end %>
                <% end %>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
<% end %>
<!-- end: page -->