<!-- start: sidebar -->
<aside id="sidebar-left" class="sidebar-left">

  <div class="sidebar-header">
    <div class="sidebar-title">
      Navigation
    </div>
    <div class="sidebar-toggle d-none d-md-block" data-toggle-class="sidebar-left-collapsed" data-target="html" data-fire-event="sidebar-left-toggle">
      <i class="fas fa-bars" aria-label="Toggle sidebar"></i>
    </div>
  </div>

  <div class="nano">
    <div class="nano-content">
      <nav id="menu" class="nav-main" role="navigation">

        <ul class="nav nav-main">
          <% if Dashboard.check_side_bar_permission("dashboard", @current_user) == true %>
            <li>
              <a class="nav-link" href="<%= dashboard_path %>" onclick="loading_screen()">
                <i class="bx bx-home-alt" aria-hidden="true"></i>
                <span>Dashboard</span>
              </a>
            </li>
          <% end %>
          <% if Dashboard.check_side_bar_permission("attendance", @current_user) == true %>
            <li>
              <a class="nav-link" href="<%= attendance_path %>" onclick="loading_screen()">
                <i class="fa fa-cash-register" aria-hidden="true"></i>
                <span>Attendance</span>
              </a>
            </li>
          <% end %>
          <% if Dashboard.check_side_bar_permission("employee_management", @current_user) == true %>
            <li>
                <% if Dashboard.check_side_bar_permission("employees", @current_user) == true %>
                <a class="nav-link" href="<%= employee_path %>" onclick="loading_screen()">
                  <i class="bx bx-user" aria-hidden="true"></i>
                  <span>Emp Management</span>
                </a>
                <% end %>
            </li>
          <% end %>
          <% if Dashboard.check_side_bar_permission("roaster_management", @current_user) == true %>
            <li>
              <% if Dashboard.check_side_bar_permission("shift", @current_user) == true %>
                <a class="nav-link" href="<%= roster_path %>" onclick="loading_screen()">
                  <i class="fa fa-business-time" aria-hidden="true"></i>
                  <span>Roaster Management</span>
                </a>
              <% end %>
            </li>
          <% end %>
          <% if Dashboard.check_side_bar_permission("payroll_management", @current_user) == true %>
            <li class="nav-parent">
              <a class="nav-link" href="#">
                <i class="fa fa-cash-register" aria-hidden="true"></i>
                <span>Payroll Management</span>
              </a>
              <ul class="nav nav-children">
                <% if Dashboard.check_side_bar_permission("salary_register", @current_user) == true %>
                  <li>
                    <a class="nav-link" href="<%= salary_register_path %>" onclick="loading_screen()">
                      Salary Register
                    </a>
                  </li>
                <% end %>
                <% if Dashboard.check_side_bar_permission("pay_item", @current_user) == true %>
                  <li>
                    <a class="nav-link" href="<%= pay_item_path %>" onclick="loading_screen()">
                      Pay Item
                    </a>
                  </li>
                <% end %>
              </ul>
            </li>
          <% end %>

          <% if Dashboard.check_side_bar_permission("system_settings", @current_user) == true %>
            <li class="nav-parent">
              <a class="nav-link" href="#">
                <i class="bx bx-cog" aria-hidden="true"></i>
                <span>System Settings</span>
              </a>
              <ul class="nav nav-children">



                <% if Dashboard.check_side_bar_permission("users", @current_user) == true %>
                  <li>
                    <a class="nav-link" href="<%= user_path %>" onclick="loading_screen()">
                     Login Users
                    </a>
                  </li>
                <% end %>

                <% if Dashboard.check_side_bar_permission("menus", @current_user) == true %>
                  <li>
                    <a class="nav-link" href="<%= menu_path %>" onclick="loading_screen()">
                      Menus
                    </a>
                  </li>
                <% end %>
                <% if Dashboard.check_side_bar_permission("roles", @current_user) == true %>
                  <li>
                    <a class="nav-link" href="<%= role_path  %>" onclick="loading_screen()">
                      Roles & Permissions
                    </a>
                  </li>
                <% end %>
              </ul>
            </li>
          <% end %>
          <% if Dashboard.check_side_bar_permission("activity_streams", @current_user) == true %>
            <li>
              <a class="nav-link" href="<%= activity_stream_path %>" onclick="loading_screen()">
                <i class="bx bx-street-view" aria-hidden="true"></i>
                <span>Activity Stream</span>
              </a>
            </li>
          <% end %>
          <!--          <li>-->
          <!--            <a class="nav-link" href="mailbox-folder.html">-->
          <!--              <span class="float-end badge badge-primary">182</span>-->
          <!--              <i class="bx bx-envelope" aria-hidden="true"></i>-->
          <!--              <span>Mailbox</span>-->
          <!--            </a>-->
          <!--          </li>-->

        </ul>
      </nav>
    </div>

    <script>
        // Maintain Scroll Position
        if (typeof localStorage !== 'undefined') {
            if (localStorage.getItem('sidebar-left-position') !== null) {
                var initialPosition = localStorage.getItem('sidebar-left-position'),
                    sidebarLeft = document.querySelector('#sidebar-left .nano-content');

                sidebarLeft.scrollTop = initialPosition;
            }
        }
    </script>

  </div>

</aside>
<!-- end: sidebar -->