<!DOCTYPE html>
<html class="sidebar-left-big-icons">
<head>
  <meta charset="UTF-8">

  <title>IT Support Help Desk</title>
  <meta name="keywords" content="HTML5 Admin Template" />
  <meta name="description" content="Porto Admin - Responsive HTML5 Template">
  <meta name="author" content="okler.net">

  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800|Shadows+Into+Light" rel="stylesheet" type="text/css">
  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= stylesheet_link_tag "bootstrap", "data-turbo-track": "reload" %>
  <%= stylesheet_link_tag "animate.compat", "data-turbo-track": "reload" %>
  <%= stylesheet_link_tag "toastr.min.css", "data-turbo-track": "reload" %>
  <%= stylesheet_link_tag "magnific-popup", "data-turbo-track": "reload" %>
  <%= stylesheet_link_tag "bootstrap-datepicker3", "data-turbo-track": "reload" %>
  <%= stylesheet_link_tag "select2.css", "data-turbo-track": "reload" %>
  <%= stylesheet_link_tag "select2-bootstrap.min", "data-turbo-track": "reload" %>
  <%= stylesheet_link_tag "dataTables.bootstrap5", "data-turbo-track": "reload" %>
  <%= stylesheet_link_tag "pnotify.custom", "data-turbo-track": "reload" %>
  <%= stylesheet_link_tag "jquery-ui.css", "data-turbo-track": "reload" %>
  <%= stylesheet_link_tag "jquery-ui.theme", "data-turbo-track": "reload" %>
  <%= stylesheet_link_tag "bootstrap-multiselect", "data-turbo-track": "reload" %>
  <%= stylesheet_link_tag "bootstrap-tagsinput", "data-turbo-track": "reload" %>
  <%= stylesheet_link_tag "bootstrap-colorpicker", "data-turbo-track": "reload" %>
  <%= stylesheet_link_tag "bootstrap-timepicker", "data-turbo-track": "reload" %>
  <%= stylesheet_link_tag "basic", "data-turbo-track": "reload" %>
  <%= stylesheet_link_tag "dropzone", "data-turbo-track": "reload" %>
  <%= stylesheet_link_tag "bootstrap-markdown.min", "data-turbo-track": "reload" %>
  <%= stylesheet_link_tag "summernote-bs4", "data-turbo-track": "reload" %>
  <%= stylesheet_link_tag "codemirror", "data-turbo-track": "reload" %>
  <%= stylesheet_link_tag "monokai", "data-turbo-track": "reload" %>
  <%= stylesheet_link_tag "morris", "data-turbo-track": "reload" %>
  <%= stylesheet_link_tag "theme", "data-turbo-track": "reload" %>
  <%= stylesheet_link_tag "default", "data-turbo-track": "reload" %>
  <%= stylesheet_link_tag "custom", "data-turbo-track": "reload" %>
  <%= stylesheet_link_tag "loader", "data-turbo-track": "reload" %>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
  <!-- Sumo Select -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery.sumoselect/3.1.6/sumoselect.min.css">
  <%= javascript_include_tag 'modernizr', 'data-turbolinks-track': 'reload' %>
  <style>
      .SumoSelect {
          width: 100%;
      }

      .SumoSelect .select-all{
          height: 40px;
      }

      .SumoSelect .select-all.partial>span i, .SumoSelect .select-all.selected>span i, .SumoSelect>.optWrapper.multiple>.options li.opt.selected span i {
          background-color: #0c7bff;
      }

      .SumoSelect>.CaptionCont>span.placeholder {
          color: #6c757d;
          font-style: unset;
      }

      .SumoSelect>.CaptionCont {
          position: relative;
          border: 1px solid #ced4da;
          border-radius: 0.25rem;
      }

  </style>
</head>

<body>
<div class="loading" id="loading" style="display: none">Loading</div>
<% if current_user.present? %>
  <section class="body">
    <%= render 'layouts/header' %>
    <div class="inner-wrapper">
      <%= render 'layouts/aside-left' %>
      <section role="main" class="content-body">
        <%= render 'layouts/header2' %>
        <%= yield %>
      </section>
    </div>
    <%= render 'layouts/aside-right' %>
  </section>
<% else %>
  <%= yield %>
<% end %>
<script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>
<%= javascript_include_tag 'jquery', 'data-turbolinks-track': 'reload' %>
<%= javascript_include_tag 'jquery.browser.mobile', 'data-turbolinks-track': 'reload' %>
<%= javascript_include_tag 'popper.min', 'data-turbolinks-track': 'reload' %>
<%= javascript_include_tag 'toastr.min', 'data-turbolinks-track': 'reload' %>
<%= javascript_include_tag 'pnotify.custom', 'data-turbolinks-track': 'reload' %>
<%= javascript_include_tag 'bootstrap.bundle.min', 'data-turbolinks-track': 'reload' %>
<%= javascript_include_tag 'bootstrap-datepicker', 'data-turbolinks-track': 'reload' %>
<%= javascript_include_tag 'jquery-ui', 'data-turbolinks-track': 'reload' %>
<%= javascript_include_tag 'jquery.ui.touch-punch', 'data-turbolinks-track': 'reload' %>
<%= javascript_include_tag 'select2', 'data-turbolinks-track': 'reload' %>
<%= javascript_include_tag 'jquery.dataTables.min', 'data-turbolinks-track': 'reload' %>
<%= javascript_include_tag 'dataTables.bootstrap5.min', 'data-turbolinks-track': 'reload' %>
<%= javascript_include_tag 'dataTables.buttons.min', 'data-turbolinks-track': 'reload' %>
<%= javascript_include_tag 'buttons.bootstrap4.min', 'data-turbolinks-track': 'reload' %>
<%= javascript_include_tag 'buttons.html5.min', 'data-turbolinks-track': 'reload' %>
<%= javascript_include_tag 'buttons.print.min', 'data-turbolinks-track': 'reload' %>
<%= javascript_include_tag 'jszip.min', 'data-turbolinks-track': 'reload' %>
<%= javascript_include_tag 'pdfmake.min', 'data-turbolinks-track': 'reload' %>
<%= javascript_include_tag 'vfs_fonts', 'data-turbolinks-track': 'reload' %>
<%= javascript_include_tag 'common', 'data-turbolinks-track': 'reload' %>
<%= javascript_include_tag 'nanoscroller', 'data-turbolinks-track': 'reload' %>
<%= javascript_include_tag 'jquery.magnific-popup', 'data-turbolinks-track': 'reload' %>
<%= javascript_include_tag 'jquery.placeholder', 'data-turbolinks-track': 'reload' %>
<%= javascript_include_tag 'jquery.maskedinput', 'data-turbolinks-track': 'reload' %>
<%= javascript_include_tag 'bootstrap-tagsinput', 'data-turbolinks-track': 'reload' %>
<%= javascript_include_tag 'bootstrap-colorpicker', 'data-turbolinks-track': 'reload' %>
<%= javascript_include_tag 'bootstrap-timepicker', 'data-turbolinks-track': 'reload' %>
<%= javascript_include_tag 'spinner', 'data-turbolinks-track': 'reload' %>
<%= javascript_include_tag 'dropzone', 'data-turbolinks-track': 'reload' %>
<%= javascript_include_tag 'markdown', 'data-turbolinks-track': 'reload' %>
<%= javascript_include_tag 'to-markdown', 'data-turbolinks-track': 'reload' %>
<%= javascript_include_tag 'bootstrap-markdown', 'data-turbolinks-track': 'reload' %>
<%= javascript_include_tag 'codemirror', 'data-turbolinks-track': 'reload' %>
<%= javascript_include_tag 'active-line', 'data-turbolinks-track': 'reload' %>
<%= javascript_include_tag 'matchbrackets', 'data-turbolinks-track': 'reload' %>
<%= javascript_include_tag 'javascript', 'data-turbolinks-track': 'reload' %>
<%= javascript_include_tag 'xml', 'data-turbolinks-track': 'reload' %>
<%= javascript_include_tag 'htmlmixed', 'data-turbolinks-track': 'reload' %>
<%= javascript_include_tag 'css', 'data-turbolinks-track': 'reload' %>
<%= javascript_include_tag 'summernote-bs4', 'data-turbolinks-track': 'reload' %>
<%= javascript_include_tag 'bootstrap-maxlength', 'data-turbolinks-track': 'reload' %>
<%= javascript_include_tag 'ios7-switch', 'data-turbolinks-track': 'reload' %>
<%= javascript_include_tag 'jquery.appear', 'data-turbolinks-track': 'reload' %>
<%= javascript_include_tag 'bootstrap-multiselect', 'data-turbolinks-track': 'reload' %>
<%= javascript_include_tag 'jquery.easypiechart', 'data-turbolinks-track': 'reload' %>
<%= javascript_include_tag 'jquery.flot', 'data-turbolinks-track': 'reload' %>
<%= javascript_include_tag 'jquery.flot.tooltip', 'data-turbolinks-track': 'reload' %>
<%= javascript_include_tag 'jquery.flot.pie', 'data-turbolinks-track': 'reload' %>
<%= javascript_include_tag 'jquery.flot.categories', 'data-turbolinks-track': 'reload' %>
<%= javascript_include_tag 'jquery.flot.resize', 'data-turbolinks-track': 'reload' %>
<%= javascript_include_tag 'jquery.sparkline', 'data-turbolinks-track': 'reload' %>
<%= javascript_include_tag 'raphael', 'data-turbolinks-track': 'reload' %>
<%= javascript_include_tag 'morris', 'data-turbolinks-track': 'reload' %>
<%= javascript_include_tag 'gauge', 'data-turbolinks-track': 'reload' %>
<%= javascript_include_tag 'snap.svg', 'data-turbolinks-track': 'reload' %>
<%= javascript_include_tag 'liquid.meter', 'data-turbolinks-track': 'reload' %>
<%= javascript_include_tag 'jquery.vmap', 'data-turbolinks-track': 'reload' %>
<%= javascript_include_tag 'jquery.vmap.sampledata', 'data-turbolinks-track': 'reload' %>
<%= javascript_include_tag 'jquery.vmap.world', 'data-turbolinks-track': 'reload' %>
<%= javascript_include_tag 'jquery.vmap.africa', 'data-turbolinks-track': 'reload' %>
<%= javascript_include_tag 'jquery.vmap.asia', 'data-turbolinks-track': 'reload' %>
<%= javascript_include_tag 'jquery.vmap.australia', 'data-turbolinks-track': 'reload' %>
<%= javascript_include_tag 'jquery.vmap.europe', 'data-turbolinks-track': 'reload' %>
<%= javascript_include_tag 'jquery.vmap.north-america', 'data-turbolinks-track': 'reload' %>
<%= javascript_include_tag 'jquery.vmap.south-america', 'data-turbolinks-track': 'reload' %>
<%= javascript_include_tag 'theme', 'data-turbolinks-track': 'reload' %>
<%= javascript_include_tag 'custom', 'data-turbolinks-track': 'reload' %>
<%= javascript_include_tag 'theme.init', 'data-turbolinks-track': 'reload' %>
<%= javascript_include_tag 'examples.dashboard', 'data-turbolinks-track': 'reload' %>
<%#= javascript_include_tag 'examples.datatables.default', 'data-turbolinks-track': 'reload' %>
<%= javascript_include_tag 'examples.datatables.row.with.details', 'data-turbolinks-track': 'reload' %>
<%= javascript_include_tag 'examples.datatables.tabletools', 'data-turbolinks-track': 'reload' %>
<%= javascript_include_tag 'sweetalert', 'data-turbolinks-track': 'reload' %>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.sumoselect/3.1.6/jquery.sumoselect.min.js"></script>
<script>

    $('.sumoselect2').SumoSelect({ selectAll: true, search: true });

    $(document).ready(function(){
        $("form").on("submit", function(event){
            document.getElementById("loading").style.display = "block";
        });
    });

    function loading_screen(){
        <% if @display.present? %>
        document.getElementById("loading").style.display = "none";
        <% else %>
        document.getElementById("loading").style.display = "block";
        <% end %>
    }
</script>
</body>
</html>
<% if alert.present? %>
  <% if params[:commit] == "Sign In" %>
    <script>
        $(document).ready(function (){
            Swal.fire({
                icon: 'error',
                title: 'Oops...',
                text: '<%= alert %>'
            })
        });
        <% flash[:alert] = nil %>
    </script>
  <% else %>
    <script>
        $(document).ready(function (){
            toastr.options.timeout = 1200;
            toastr.error('<%= alert %>');
        });
        <% flash[:alert] = nil %>
    </script>
  <% end %>

<% end %>
<% if notice.present? %>
  <script>
      $(document).ready(function (){
          toastr.options.timeout = 1200;
          toastr.success('<%= notice %>');
      });
      <% flash[:notice] = nil %>
  </script>
<% end %>
